.first_absatz {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:justify;
}
.home_absatz {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:left;
}
.absatz_middle {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:center;
}
.farbe {
	color: #CC0000;
	font-size: 1.3em;
}
.farbe2 {
	color: #aae55c;
	font-size: 1.3em;
}
.licht {
	color: #FFCC00;
	font-size: 1.3em;
}
.mut {
	font-size: 1.5em;
}
.formen {
	font-style: italic;
	letter-spacing: 9px;
	font-size: 1.2em;
}
.wide {
	letter-spacing: 7px;
}
.gallerie{
	padding-top: 10px;
	line-height: 120%;
}
/* Responsive Images */
img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }
.spacer{
	width:15px;
	display:inline-block;
}

.h3{
   font-size: large;
   font-weight: bold;
   padding-top: 0.5em;
  
} 