.first_absatz {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:justify;
}
.home_absatz {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:left;
}
.absatz_middle {
	margin: 10px 0 0 0;
	line-height: 120%;
	text-indent: 0px;
	text-align:center;
}
.farbe {
	color: #CC0000;
	font-size: 1.3em;
}
.farbe2 {
	color: #aae55c;
	font-size: 1.3em;
}
.licht {
	color: #FFCC00;
	font-size: 1.3em;
}
.mut {
	font-size: 1.5em;
}
.formen {
	font-style: italic;
	letter-spacing: 9px;
	font-size: 1.2em;
}
.wide {
	letter-spacing: 7px;
}
.gallerie{
	padding-top: 10px;
	line-height: 120%;
}
/* Responsive Images */
img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }
.spacer{
	width:15px;
	display:inline-block;
}

.h3{
   font-size: large;
   font-weight: bold;
   padding-top: 0.5em;
  
}
/* Globaler Hintergrund  */

.sapUiRootBackground, .sapMShellGlobalOuterBackground {
  background: white;
    background: linear-gradient(to bottom,#a9c4df,#e7ecf0);
      
}
/* Brandingbar ganz oben, z.B. auf Device: */
.sapMShellBrandingBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
       background-color: white;
    background-color: #427cac;
 
}
/* HauptBalken links */
/* NICHT selektiert   */
.sapContrast.sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover), .sapContrast .sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
    background:Wheat ;
    background:#3f5161;
}
/* Selektiert   */    
.sapContrast.sapMLIBHoverable.sapMLIBSelected:not(hover), .sapContrast .sapMLIBHoverable.sapMLIBSelected:not(hover) {
    background: SandyBrown ;
    background: #496b8a;
}   
/* Hover NICHT Selektiert*/
.sapContrast.sapMLIBHoverable:hover, .sapContrast .sapMLIBHoverable:hover {
    background:Tan ;
    background: #45596a;
}
/* Hover Selektiert */
.sapContrast.sapMLIBHoverable.sapMLIBSelected:hover, .sapContrast .sapMLIBHoverable.sapMLIBSelected:hover {
    background: Sienna ;
    background:#4e7395;
}
/* Balken unten */
html.sap-desktop .sapContrast .sapMIBar.sapMFooter-CTX, html.sap-desktop .sapContrast.sapMIBar.sapMFooter-CTX {
    background-color: SaddleBrown ;
     background-color:#2f3c48;
}
/* Balken oben rechts */
.sapMIBar.sapMHeader-CTX {
    background-color: PeachPuff   ;
    background-color: #eff4f9;
}